<!DOCTYPE html>

{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8" />
        <!-- 优先使用 IE 最新版本和 Chrome -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- 为移动设备添加 viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <!--忽略页面中的数字识别为电话，忽略email识别-->
        <meta name="format-detection" content="telphone=no, email=no" />
        <link rel="icon" href="{% static 'travellog/icon/logo3.png' %}" type="image/x-icon" />
        <link rel="shortcut icon" href="{% static 'travellog/icon/logo3.png' %}" type="image/x-icon" />
        <link rel="bookmark" href="{% static 'travellog/icon/logo3.png' %}" type="image/x-icon" />

        <link href="{% static 'travellog/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'travellog/css/fileinput.css' %}" media="all" rel="stylesheet" type="text/css" />

        <title>{% block title %} Travel {% endblock %}</title>
        {% block link %}{% endblock %}
    </head>

    <body>
        {% block content %}{% endblock %}
    </body>
</html>





{% comment %}
# 变量访问
    {{variable name}}

# 标签语法
    1.{% for %} ... {% endfor %}
		内置变量：forloop
			在循环中允许使用forloop内置变量来获取循环的信息
			forloop.counter：记录当前循环遍历的次数
			forloop.counter0：记录当前循环的次数，从0开始
			forloop.revcounter：记录当前元素从后向前算的位置
			foorloop.revcounter0：同上，从0开始记录
			forloop.first：判断是否是第一次循环
			forloop.last：判断是否是最后一次循环
    2.{% if %} ... {% endif %}
	3.{% comment %} ... {% comment %}
	4.{% load static %} # 加载static资源
	5.{% static '' %} # 使用static资源

# 过滤器
    大写： {{value|upper}}
    小写： {{value|lower}}
    追加： {{value|add:num}} #value和num可以是列表
    n位小数: {{value|floatformat:n}}
    截取保留至n位字符，后面以...来表示未显示完成的内容
        {{value|truncatechars:n}}

# 反向解析
    {% url '别名' '参数1' '参数2' %} #url(regex,views,kwargs=None,name='别名')


{% endcomment %}
